<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>电类工程导论（B类）</title>
	<link rel="stylesheet" href="/static/result4.css" type="text/css">
</head>
<body style="margin: 0px;">
	
	<div class="headline">
		<div class="head"><a href="{{ url_for('frontpage')}}"><span>TED</span></a></div>
		<div class="slogan">Ideas worth spreading</div>
		<div class="navigator">
			<a class="icon1" href="{{ url_for('search')}}"><button class="button"><span>Search</span></button></a>
        	<a class="icon2" href="{{ url_for('rank')}}"><button class="button"><span>Rank</span></button></a>
        	<a class="icon3" href="{{ url_for('more')}}"><button class="button"><span>More</span></button></a>
		</div>
	</div>

	<div class="next">
		<img src="{{url_for('static',filename='images/ted.jpg')}}" class="background" width="100%" alt="">
		<div class="content">
			{% for Vedio in Vedios %}
				<div class="col">
					<div class="vedio">
						<a href={{Vedio[1]}}>
						<div class="pic0">
						<img src={{Vedio[2]}} height="100%">
						</div>
						<h4>{{Vedio[0]}}</h4>
						</a>
						<div class="postTime">
							{% if Vedio[11] %}
							<h5>Post time : {{Vedio[11]}}</h5>
							{% else %}
							<p></p>
							{% endif %}
						</div>
						<div class="tooltip">{{Vedio[3]}}</div>
					</div>
					
					<div class="author">
						<div class="pic">
							{% if Vedio[8] %}
							<img src={{Vedio[7]}} width="100%">
							{% else %}
							<img src="https://img.ixintu.com/download/jpg/202001/cab6c4f188b20ebfb5d0533b87a5dbaa.jpg!con" width="100%">
							{% endif %}
						</div>
						<div class="info">
							<p class="para">{{Vedio[6]}}</p>
							<p class="para">{{Vedio[8]}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="turnNext">
		{% for page in pages %}
			<div class="pageIcon">
				
				<button onclick="Go({{page}})"><span><p>{{page}}</p></span></button>
				<script>
					var currenturl;
					currenturl=window.location.href;
					var pos = currenturl.lastIndexOf("currentpage");
					if(pos>-1){
						currenturl=currenturl.slice(0,pos);
					}
					function Go(page)
    				{
						window.location.href=currenturl+"&currentpage="+page;
    				}
				</script>
			</div>
		{% endfor %}
	</div>
	
</body>
</html>